.om-uppgiften {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 1em 1em 0 1em;
    }

    .search-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .search-holder .search-label {
        padding: 10px;
        font-size: 1.6em;
    }

    #search {
        padding: 10px;
        width: 50%;
    }

    .om-uppgiften h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
        padding: 1em;
    }


    .om-kurser {
        margin-top: 1em;
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        background-color: ghostwhite;
        border-radius: 10px;


    }

    #kursData {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: ghostwhite;
        border-radius: 10px;

    }

    .thead {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1em;
        border-radius: 10px;
        text-decoration: underline;
    }

    .kursnamn_rubrik {
        width: 45%;
        text-align: start;
    }

    tbody {
        display: flex;
        flex-direction: column;
    }

    .kursList {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        background-color: white;
        margin-bottom: .25em;
    }

    .kurskod {
        width: 20%;
        text-align: start;
    }

    .progression {
        width: 30%;
        text-align: center;
    }

    .kursNamn {
        width: 60%;

    }

    .url,
    .progressionTH {
        text-align: end;
        width: 30%;


    }

    .syllabus {
        text-align: end;
        width: 20%;
    }

    #code,
    #progression,
    #name {
        cursor: pointer;
    }

    .code:hover,
    .courseName:hover,
    .progressionTH:hover,
    .syllabus:hover {
        cursor: pointer;
        color: green;
    }


}


footer {
    background-color: #2b2e35;
    width: 100%;
    height: auto;
    padding: 20px;

    .footer-head,
    .footer-para {
        font-size: .75em;
        color: ghostwhite;
        text-align: center;
        padding-bottom: .50em;
    }

}





@media screen and (max-width: 700px) {
    .om-kurser {
        width: 80%;
    }

    #kursData {
        overflow-x: auto !important;
    }
}

@media screen and (max-width: 450px) {
    .om-kurser {
        width: 100%;
        font-size: .75em;
    }

    .kursList {
        padding: .50em;
    }
}