.om-uppgiften {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 1em 1em 0 1em;
    }

    .search-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .search-holder .search-label {
        padding: 10px;
        font-size: 1.6em;
    }

    #search {
        padding: 10px;
        width: 50%;
        height: 3.5em;
        border-radius: 5px;
    }

    .om-uppgiften h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
        padding: 1em;
    }

    .om-kurser {
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: calc((1em + 2vw) / 2);
        letter-spacing: 1px;
        margin-top: 2em;

    }

    thead,
    tfoot {
        background-color: rgb(228 240 245);
    }

    th,
    td {
        border: 1px solid rgb(160 160 160);
        padding: 13px 10px;
    }

    td:last-of-type {
        text-align: center;
    }

    tbody>tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
    }

    tfoot th {
        text-align: right;
        
    }
    .code, .courseName, 
    .progressionTH, .syllabus {
        text-decoration: underline;
        color: rgb(169, 31, 7);
    }
    
    .progression {
        text-align: center;
    }
    tfoot td {
        font-weight: bold;
    }

    #code,
    #progression,
    #name {
        cursor: pointer;
    }

    .code:hover,
    .courseName:hover,
    .progressionTH:hover,
    .syllabus:hover {
        cursor: pointer;
        color: green;
    }


}


footer {
    background-color: #2b2e35;
    width: 100%;
    height: auto;
    padding: 20px;

    .footer-head,
    .footer-para {
        font-size: .75em;
        color: ghostwhite;
        text-align: center;
        padding-bottom: .50em;
    }

}





@media screen and (max-width: 700px) {
    .om-kurser {
        width: 80%;
    }

    #kursData {
        overflow-x: auto !important;
    }
}

@media screen and (max-width: 450px) {
    .om-kurser {
        width: 100%;
        font-size: .75em;
    }

    .kursList {
        padding: .50em;
    }

    .search-label {
        display: none;
    }

    #search {
        width: 90% !important;
    }
}