/* You can add global styles to this file, and also import other style files */
* {
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------ */


body {
    background-color: ghostwhite;
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
}

/* ----------------innehållet--------------------- */


